body {
    background-color: #080808;
    color: white;
    font-family: Tahoma, sans-serif;
    margin: 0;
    text-align: center;
}


/* هدر سایت */
header {
    padding: 50px 20px;
    background: #111;
    border-bottom: 2px solid #d4af37;
}


h1 {
    color: #d4af37;
    font-size: 38px;
}


h2 {
    color: #d4af37;
    font-size: 26px;
}


/* دکمه رزرو */
header a {
    display: inline-block;
    margin-top: 25px;
    padding: 15px 45px;
    background: #d4af37;
    color: black;
    text-decoration: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
}


/* بخش خدمات */
.services {
    padding: 20px;
}


.service-box p {
    background: #151515;
    margin: 8px auto;
    padding: 10px;
    max-width: 280px;
    border: 1px solid #d4af37;
    border-radius: 8px;
    font-size: 15px;
}


/* بخش رزرو */
.reserve {
    margin: 40px 15px;
    padding: 70px 20px;
    background: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    ),
    #d4af37;

    border-radius: 20px;
    border: 2px solid #d4af37;
}


.reserve h2 {
    font-size: 35px;
}


.reserve a {
    display: inline-block;
    margin-top: 20px;
    padding: 18px 50px;
    background: black;
    color: #d4af37;
    border-radius: 35px;
    text-decoration: none;
    font-size: 20px;
}


/* آدرس */
.contact {
    padding: 30px;
}


.contact a {
    color: #d4af37;
    font-size: 18px;
    text-decoration: none;
}


/* پایین سایت */
footer {
    margin-top: 40px;
    padding: 20px;
    background: #111;
    color: #d4af37;
}